# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Django
db.sqlite3
staticfiles/
backend/.cache/
*.log

# Node
node_modules/
dist/
.vite/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local env
.env
.env.local
